{% extends 'general_template.html.twig' %}

{% block title %}{% trans %}Words | Connexion{% endtrans %}{% endblock %}

{% block headerLanding %} {% endblock %}

{% block main %}
<form method="post">
    <article class="flex-center width-100">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h2 class="h3 mb-3 font-weight-normal">Ravie de te revoir !</h2>
    </article>
    <article class="flex-center width-100">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </article>
    <article class="flex-center width-100">
        <label for="inputPassword">{% trans %}Mot de passe{% endtrans %}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </article>
    <article class="flex-center width-100">
        <button type="submit" class=" btn-gen margin-all-20px">Go</button>
    </article>
    <div class="flex-center width-100">
        <label>
            <input type="checkbox" name="_remember_me" class="opacity-6"> {% trans %}Se souvenir de moi{% endtrans %}
        </label>
    </div>
    <article class="flex-center width-100 margin-all-20px opacity-6">
        <a href="#">Mot de passe oublié?</a>
    </article>
</form>
{% endblock %}
