{% extends 'general_template.html.twig' %}

{% block title %}{% trans %}Words | Créer un compte{% endtrans %}{% endblock %}

{% block headerLanding %} {% endblock %}
{% block main %}
    <section class="width-30">
        <article class="width-100 flex-center">
            <h2>{% trans %}Ravie de te rencontrer !{% endtrans %}</h2>
        </article>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.motherTongue) }}
            {{ form_row(registrationForm.learner) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            <article class="flex-center width-100">
                <button type="submit" class=" btn-gen margin-all-20px">Go</button>
            </article>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
