{% extends 'general_template.html.twig' %}

{% block title %}Create Account{% endblock %}

{% block header %}
    <h1>Créer un compte</h1>
{% endblock %}

{% block main %}
    <section class="width-50 flex-center">
        {{ form_start(accountCreationForm) }}
            {{ form_row(accountCreationForm.pseudo) }}
            {{ form_row(accountCreationForm.email) }}
            {{ form_row(accountCreationForm.password) }}
            {{ form_row(accountCreationForm.motherTongue) }}
            {{ form_row(accountCreationForm.targetLangue) }}
            {{ form_row(accountCreationForm.submit) }}
        {{ form_end(accountCreationForm) }}
    </section>
{% endblock %}